#set($zeroHours = '0')

<html lang="en">
<head>
    <style>
        table {
            width: 100%;
            table-layout: fixed;
        }

        table td {
            border: 1px solid #404040;
            text-align: center;
            padding: 5px;
        }

        html * {
            font-weight: bold;
            font-size: 16px;
            color: #353535 !important;
            font-family: Arial, sans-serif !important;
        }

        td.user-name {
            width: 150px;
            font-weight: normal;
            font-size: 20px;
        }

        td.week-day {
            width: 50px;
            font-weight: normal;
            font-size: 15px;
        }

        td {
            width: 50px;
            overflow: hidden;
            white-space: nowrap;
            font-size: 20px;
        }

        td.user-avatar {
            width: 50px;
        }

        td.submitted-1,
        td.submitted-2,
        td.submitted-3,
        td.submitted-4,
        td.submitted-5,
        td.submitted-6,
        td.submitted-7{
            font-size: 28px;
            background-color: #ffe952;
        }

        td.submitted-8 {
            font-size: 28px;
            background-color: #00ff7f;
        }

        td.total-hours {
            font-size: 24px;
        }

        td.submitted-0.past {
            width: 50px !important;
            font-size: 28px;
            background-color: #f08080;
        }
    </style>
    <title>
        Time Report
    </title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td rowspan="2" colspan="4">
            User
        </td>
        #foreach($month in ${context.monthData})
            <td colspan="$month.daysCount">
                ${month.name}
            </td>
        #end
        <td rowspan="2">
            Total
        </td>
    </tr>
    <tr>
        #foreach($day in ${context.weekDays})
            <td class="week-day">$day</td>
        #end
    </tr>
    </thead>
    <tbody>
        #foreach($user in ${context.userWorklogs})
        <tr>
            <td class="user-avatar">
                <img src="${user.avatarUrl}" alt="user avatar">
            </td>
            <td class="user-name" colspan="3">${user.name}</td>
            #foreach($day in ${context.weekDays})
                #if(${user.submittedTime.get($day)})
                    #set($submittedHours = ${user.submittedTime.get($day)})
                    <td class="submitted-$submittedHours past">
                        $submittedHours
                    </td>
                #else
                    <td class="submitted-0">
                    </td>
                #end
            #end
            <td class="total-hours">
                #if($user.totalTime)
                    ${user.totalTime}h
                #else
                    ${zeroHours}h
                #end
            </td>
        </tr>
        #end
    </tbody>
</table>
</body>
</html>